<h2 mat-dialog-title *ngIf="!didWin" align="center">You lost 😢</h2>
<h2 mat-dialog-title *ngIf="didWin" align="center">You've made it! 😊</h2>
<mat-dialog-content class="mat-typography">
  <iframe style="border-radius:12px" [src]="url | safe" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-button mat-dialog-close (click)="retry()">I want to try again</button>
</mat-dialog-actions>
