<div class="wrapper">
    <div class="example-container">
        <h2>Songs bucket</h2>
    
        <div
        cdkDropList
        #bucketList="cdkDropList"
        id="bucket-list"
        [cdkDropListData]="songs"
        [cdkDropListConnectedTo]="[doneList]"
        class="example-list"
        [cdkDropListEnterPredicate]="canDragToBucket"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of songs" cdkDrag>{{item}}</div>
        </div>
    </div>
    
    <div class="example-container">
        <h2>Your guess</h2>
    
        <div
        cdkDropList
        #doneList="cdkDropList"
        id="guess-list"
        [cdkDropListData]="guess"
        [cdkDropListConnectedTo]="[bucketList]"
        class="example-list"
        [cdkDropListEnterPredicate]="canDragToGuess"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of guess; index as i" cdkDrag>{{i+1}}. {{item}}</div>
        </div>
    </div>
</div>

<footer>
    <button mat-stroked-button color="accent" (click)="takeGuess()">I'm ready to take a guess!</button>
</footer>